Вот и твои отчеты <b>{{userDetails.username}}</b>! <a href="#/"> Домой</a><br/><br/>

<button ng-click="curryear=today.getFullYear();showForMonthYear(today.getMonth()+1,curryear);" style="color:blueviolet"><b>Показать текущий месяц</b></button>
<br/>
<h3>Отчеты за месяц ( 0  - годовой отчет) </h3>
Выбрать месяц:<input type="number" ng-model="currmonth" style="width: 8%;" required/>
год:<input type="number" ng-model="curryear" style="width: 14%;" required/>
<button ng-click="showForMonthYear(currmonth,curryear)" style="color:blueviolet">Показать <b>{{currmonth}}-{{curryear}}</b> </button><br/>
<table border="1">
    <td >Месяц</td><td>Год    </td><td>Статья</td><td>Сумма</td><td>Количество</td></tr>

    <tr ng-repeat="expenceSummary in expenceSummarys | orderBy:'-month'">
        <td align="center">{{expenceSummary.month}}</td>
        <td align="center"  >{{expenceSummary.year}}</td>
        <td align="center" >{{expenceSummary.type}}</td>
        <td align="center" >{{expenceSummary.totalAmount}}</td>
        <td align="center" >{{expenceSummary.count}}</td>

        </td>
    </tr>
</table>
<br>
<p>Сумма:<b>{{getTotalSummary()}}</b> руб</p>
