&nbsp;&nbsp;Вот и твои тренировки <b>{{userDetails.username}}</b>! <br/>
<form>
    &nbsp;<b>Дата</b><input class="add-input" type="date" ng-model="activity.date"/>
        <button ng-click="activity.date=yesterday;" style="color:blueviolet">Вчера</button>
        <br/>
    &nbsp;&nbsp; <b>Тип</b><select ng-model="activity.type" name="type" >
    <option value=""> тренировки </option>
    <option ng-repeat="option in data.activityLabels" value="{{option}}">{{option}}</option>
</select> <a href="#/user">Изменить список</a>&nbsp;&nbsp;<a href="#/training_sums">Отчеты </a> <br/>
    &nbsp;&nbsp;<input ng-model="activity.durationHours" type="number" class="hours" placeholder="00" min="0" max="24" step="1"/>
    <span class="duration-sep">:</span>
    <input ng-model="activity.durationMins" type="number" class="minutes" placeholder="00" min="0" max="59" step="1"/>
    <span class="duration-sep">:</span>
    <input ng-model="activity.durationSecs" type="number" class="seconds" placeholder="00" min="0" max="59" step="1"/>
    Продолжительность (Час:Мин:Сек)<br/>
    &nbsp;&nbsp;<input type="number" ng-model="activity.distance" required min="0" max="350" step="0.01"/> Дистанция (Км)<br/>
    &nbsp;&nbsp;<input type="number" ng-model="activity.pulseAve" min="35" max="200" /> ЧСС Средний <br/>
    &nbsp;&nbsp;<input type="number" ng-model="activity.pulseMax" min="35" max="220"/> ЧСС Макс <br/>
    &nbsp;&nbsp;Место<select ng-model="activity.location" name="location" >
    <option value=""> тренировки </option>
    <option ng-repeat="option in data.activityPlaces" value="{{option}}">{{option}}</option>
    </select><br/>
    &nbsp;&nbsp; <textarea class="add-input" name="comment" ng-model="activity.notes">Что делал, какой темп и тд ...</textarea>
    Заметки <br/>
    &nbsp;&nbsp;<input type="text" ng-model="activity.weather" /> Погода <br/>
    &nbsp;&nbsp; <button class="add-btn" ng-click="addActivity()"><b>Добавить</b></button><br/>
</form>
<br/>
&nbsp;&nbsp;Подитог на {{currmonth}}-{{curryear}} :<b> {{getTotal()}}</b> км, тренировок <b>{{activitiesList.length}}</b> <b>{{ActivityType}}</b><br/>
<button ng-click="curryear=today.getFullYear()-1;showForYear(curryear,0)" style="color:blueviolet">Показать весь прошлый год</button>
<button ng-click="curryear=today.getFullYear();showForYear(curryear,0)" style="color:blueviolet">Показать весь текущий год</button> <br/>
Выбрать месяц:<input type="number" ng-model="currmonth" style="width: 4%;" required/>
год:<input type="number" ng-model="curryear" style="width: 6%;" required/><button ng-click="showForYear(curryear,currmonth)" style="color:blueviolet">Показать <b>{{currmonth}}-{{curryear}}</b> </button>
&nbsp;&nbsp;<button ng-click="curryear=today.getFullYear();currmonth=today.getMonth()+1;showForYear(curryear,currmonth)" style="color:blueviolet"><b>Показать текущий месяц</b></button>


<table border="1">
    <td> Дата </td><td>Тип(кликни)</td><td>Длит</td><td>Дист</td><td>ЧСС Ср</td><td>ЧСС Max</td><td>Место</td><td>Заметки</td><td>Погода</td>
    <td>СрСкор</td><td>СрТемп</td><td>Кнопки</td>
    </tr>
    <tr ng-repeat="activityItem in activitiesList" ng-include="getTemplate(activityItem)">
    <script type="text/ng-template" id="display">
    <td align="center">{{activityItem.date|date:'dd.MM.yy'}} </td>
    <td ng-click="showByType(activityItem.type)" style="color:blueviolet" align="left">{{activityItem.type}}</td>
        <td align="center" >{{activityItem.durationHours}}:{{activityItem.durationMins}}:{{activityItem.durationSecs}}</td>
        <td align="center" >{{activityItem.distance}}</td>
        <td align="center" >{{activityItem.pulseAve}}</td>
        <td align="center" >{{activityItem.pulseMax}}</td>
        <td align="center" >{{activityItem.location}}</td>
        <td align="left" >{{activityItem.notes}}</td>
        <td align="left" >{{activityItem.weather}}</td>
        <td align="center" >{{activityItem.speedAve}}</td>
        <td align="center" >{{activityItem.paceAve}}</td>
        <td><button ng-click="editActivity(activityItem)">Изменить</button>
            <button ng-click="deleteActivity(activityItem)" style="color:blueviolet">Удалить</button></td>
    </script>
        <script type="text/ng-template" id="edit">

            <td> <input type="date" ng-model="selected.date" /> </td>
            <td><select ng-model="selected.type" name="type" >
                <option value="{{selected.type}}">{{selected.type}}</option>
                <option ng-repeat="option in data.activityLabels" value="{{option}}">{{option}}</option>
            </select>
            </td>
            <td>
            <input ng-model="selected.durationHours" type="number" class="hours" placeholder="00" min="0" max="24" step="1"/>
            <span class="duration-sep">:</span>
            <input ng-model="selected.durationMins" type="number" class="minutes" placeholder="00" min="0" max="59" step="1"/>
            <span class="duration-sep">:</span>
            <input ng-model="selected.durationSecs" type="number" class="seconds" placeholder="00" min="0" max="59" step="1"/>
            </td>
            <td><input type="number" ng-model="selected.distance"  min="0" max="350" step="0.01"/></td>
            <td><input type="number" ng-model="selected.pulseAve" min="35" max="200" /></td>
            <td><input type="number" ng-model="selected.pulseMax" min="35" max="220"/></td>
            <td><select ng-model="selected.location" name="location" >
                <option value="{{selected.location}}">{{selected.location}}</option>
                <option ng-repeat="option in data.activityPlaces" value="{{option}}">{{option}}</option>
                </select></td>
            <td> <textarea class="add-input" name="notes" ng-model="selected.notes" ></textarea></td>
            <td><input type="text" ng-model="selected.weather" /></td>

            <td align="center" >{{selected.speedAve}}</td>
            <td align="center" >{{selected.paceAve}}</td>
            <td>
                <button ng-click="saveActivity(selected)">Сохранить</button>
                <button ng-click="reset()">Отмена</button>
            </td>
        </script>


    </tr>
</table>
