<br/>
<b>Категории твоих расходов <b>{{userDetails.username}}</b> :</b><br/>

<!-- list of items with a button to remove that item -->
<ul>
    <li ng-repeat="type in data.userTypes" >
        {{type}}
        <button ng-click="remove($index)" align="center">Удалить</button>
    </li>
</ul>

<!-- input and button it add a new item -->
<div>
    >> <input type="text" ng-model="input">
    <button type="submit" ng-click="add()">Добавить</button>
</div>

<br/>

<b>Категории по СПОРТУ:</b><br/>
<ul>
    <li ng-repeat="sportlabel in data.activityLabels" >
        {{sportlabel}}
        <button ng-click="removeActivityLabel($index)" align="center">Удалить</button>
    </li>
</ul>
<div>
    >> <input type="text" ng-model="inputActivity">
    <button type="submit" ng-click="addActivityLabel()">Добавить</button>
</div>




<b>Лайблы(категории) твоих заметок:</b><br/>
<ul>
    <li ng-repeat="label in data.todoLabels" >
        {{label}}
        <button ng-click="removeTodoLabel($index)" align="center">Удалить</button>
    </li>
</ul>

<div>
    >> <input type="text" ng-model="inputTodo">
    <button type="submit" ng-click="addTodoLabel()">Добавить</button>
</div>

<br/>
<br/>
<b>Также можешь изменить свой пароль</b>
<br/>
<b>{{messagePassword}}</b>
<br/>
    Новый пароль<input type="password" ng-model="newpass" name="newpass" /><br/>
    Новый пароль еще раз<input type="password" ng-model="newpass2" name="newpass2" /><br/>
    <input type="submit" ng-click="changePass()" value="Изменить Пароль" />   <br/>
